@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", serif;
}

.altura-tela {
  height: calc(100vh - 80px);
}


/* Oculta a barra de rolagem visual do Swiper */
.swiper-no-scrollbar .swiper-scrollbar {
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
